<%= form_for @question do |f| %>
  <% @question.errors.full_messages.each do |msg| %>
     <p><%= msg %></p>
  <% end %>
  <p>
    <%= f.text_field :title, {:placeholder => 'Please add a title...'} %>
  </p>
  <p>  
    <%= f.text_area :body, {:placeholder => 'Please add your question...'} %>
  </p>
  <p>
    <%= f.text_field :user_name, {:placeholder => 'Please add your name...'} %>
  <p>
  <%= f.submit %>
<% end %>

